<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   smr_config.plist
   SMRBaseCoreDemo

   Created by 丁治文 on 2019/1/28.
   Copyright (c) 2019 sumrise. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
