<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>config</key>
	<dict>
		<key>use</key>
		<string>s</string>
		<key>iPhone5</key>
		<string>1</string>
		<key>iPhone6</key>
		<string>1.2</string>
		<key>iPhone6Plus</key>
		<string>1.5</string>
		<key>iPhoneX</key>
		<string>1.7</string>
	</dict>
	<key>backImage&lt;UIImageView</key>
	<dict>
		<key>top</key>
		<string>105</string>
		<key>left</key>
		<string>40</string>
		<key>bottom</key>
		<string>20</string>
		<key>right</key>
		<string>10</string>
		<key>setBackgroundColor:</key>
		<string>#FF00FF</string>
	</dict>
	<key>deleteBtn&lt;UIButton</key>
	<dict>
		<key>top</key>
		<string>100</string>
		<key>left</key>
		<string>10</string>
		<key>width</key>
		<string>30</string>
		<key>height</key>
		<string>30</string>
		<key>setBackgroundColor:</key>
		<string>#33FFEE</string>
	</dict>
</dict>
</plist>
